{% extends "base.html" %}

{% block contents %}

  <h1>Tic-Tac-Toe Django</h1>
  <h2>{{ game.question }}</h2>
  <h2>You can be <b>X</b>, and I will be <b>O</b>, okay?</h2>
  <h3>I'm glad you agree.</h3>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <!-- Needs improvement -->
  <form action="/games/1/play/" method="post">
  {% csrf_token %}

    <button class="btn btn-primary" type="submit" name="choice" id="choice1" value="1" />
    <label for="choice1">1</label></button>

    <button class="btn btn-primary" type="submit" name="choice" id="choice2" value="2" />
    <label for="choice2">2</label></button>

    <button class="btn btn-primary" type="submit" name="choice" id="choice3" value="3" />
    <label for="choice3">3</label></button><br />

    <button class="btn btn-primary" type="submit" name="choice" id="choice4" value="4" />
    <label for="choice4">4</label></button>

    <button class="btn btn-primary" type="submit" name="choice" id="choice5" value="5" />
    <label for="choice5">5</label></button>

    <button class="btn btn-primary" type="submit" name="choice" id="choice6" value="6" />
    <label for="choice6">6</label></button><br />

    <button class="btn btn-primary" type="submit" name="choice" id="choice7" value="7" />
    <label for="choice7">7</label></button>

    <button class="btn btn-primary" type="submit" name="choice" id="choice8" value="8" />
    <label for="choice8">8</label></button>

    <button class="btn btn-primary" type="submit" name="choice" id="choice9" value="9" />
    <label for="choice9">9</label></button><br />
    
  </form>
  
  <a href="{% url 'games:index' %}">Start over?</a>
  
{% endblock %}
